/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background-color: #FFFEF8;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/

.modal {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
}

.modal-wrapper {
	overflow: auto;
	width: 630px;
	height: 688px;
	max-width: 95vw;
	max-height: 95vh;
	border-radius: 10px;
	background-color: #FFFFFF;
}

.titlemodal {
    color: black;
    font-size: 26px;
    font-weight: 400;
    font-family: 'Work Sans';
    display: flex;
    align-items: center;
	justify-content: center;
    position: relative;
    top: 60px;
}

.modal-gallery {
    width: 630px;
	height: 365px;
    display: grid;
    grid-template-columns: repeat(5, 77px);
	grid-template-rows: 102px;
    grid-column-gap: 10px;
    grid-row-gap: 30px;
	justify-content: center;
    position: relative;
    top: 96px;
}

.figure_modal {
	width: 100%;
	height: 102px;
}

.img_modal {
	width: 100%;
    object-fit: cover;
    height: 103px;
}

.modal_lign {
	display: flex;
    justify-content: center;
    color: #B3B3B3;
    width: 420px;
    height: 0px;
    border: 0.8px solid #B3B3B3;
    position: relative;
    top: 150px;
}

.modal_button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 236px;
    left: 197px;
    top: 175px;
    background-color: #1D6154;
    color: #FFFFFF;
    border: none;
    border-radius: 60px;
	font-family: 'Syne';
	font-size: 14px;
	font-weight: 700;
}

.disabled_button {
	background-color: #A7A7A7;
}

.fa-trash-can {
    position: relative;
    width: 17px;
    height: 17px;
    display: flex!important;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    top: -100px;
    left: 55px;
    border-radius: 2px;
}

.fa-image {
	position: relative;
    width: 76px;
    height: 76px;
    color: #CBD6DC;
    background-color: #E8F1F6;
    top: -8px;
}

#remove_photos_modal {
	margin: 0;
	margin-top: -30px;
}

#add_photos_modal {
	margin: 0;
	margin-top: -55px;
}

#div_add_photos {
	position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E8F1F6;
    width: 420px;
    height: 169px;
    top: 100px;
    left: 50%;
    margin-left: -210px;
    border-radius: 3px;
}

#previewImg {
	object-fit: cover;
    width: 129px;
    height: 169px;
    z-index: 2;
    position: fixed;
}

#button_add_photos {
	position: absolute;
    width: 173px;
    height: 36px;
    z-index: 0;
    background-color: #CBD6DC;
    border: none;
    top: 95px;
    border-radius: 50px;
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 14px;
    color: #306685;
}

#photos {
	position: relative;
    z-index: 1;
    opacity: 0;
    width: 173px;
    height: 36px;
    top: -5px;
}

#add_photos_text {
	position: relative;
    z-index: 0;
    background-color: #CBD6DC;
    color: #306685;
    top: -25px;
    font-family: 'Work Sans';
    font-size: 14px;
    font-weight: 500;
}

#infos_photo {
	position: relative;
    background-color: #E8F1F6;
    font-family: 'Work Sans';
    font-size: 10px;
    font-weight: 400;
    color: #444444;
    top: 5px;
}

.formulaire {
	position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: 420px;
    top: 120px;
    left: 105px;
    margin-top: 20px;
}

.label {
	font-family: 'Work Sans';
    font-size: 14px;
    font-weight: 500;
}

.labelModal {
	border: none;
    box-shadow: 0 4px 14px rgba(0,0,0,0.09);
    height: 51px;
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 14px;
    padding-left: 15px;
}

.back-modal {
	height: 24px;
	width: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	left: 26px;
	border: none;
	background-color: #FFFFFF;
}

.close-modal {
	height: 24px;
	width: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	left: 576px;
	top: 25px;
	border: none;
	background-color: #FFFFFF;
}

.hidden {
	display: none;
}

.hidden_filters {
	visibility: hidden;
	margin-bottom: 60px;
}

.buttonEdition {
	width: 100vw;
    position: fixed;
    height: 59px;
    top: 0;
    left: 0;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 16px;
}

#edition_logo {
    background-color: black;
    margin-right: 11px;
}

body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
.header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

.header_editor {
	display: flex;
	justify-content: space-between;
	margin: 109px 0
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	gap: 30px;
}

nav a {
	padding: 0 10px;
	font-size: 1.2em;
	color: black;
	text-decoration: none;
}

#logo_instagram {
	width: 22px;
}

a:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 20px;
}

#introduction p {
	margin-bottom: 15px;
	max-width: 404px;
}
#portfolio h2 {
	text-align: center;
}

.portfolio_title {
	display: flex;
    align-items: center;
    margin-bottom: 60px;
    margin-top: 90px;
    padding-left: 40%;
    gap: 20px;
}

#buttonModifier {
	display: flex;
    align-items: center;
    gap: 5px;
	height: 30px;
    background: none;
    border: none;
    font-size: 14px;
	color: black;
    text-decoration: none;
}

.filters-button {
	display: flex;
	justify-content: center;
	height: 37px;
	gap: 10px;	
	margin-bottom: 50px;
	margin-top: 50px;
}

.button {
	color: #1D6154;
	background-color: #FFFEF8;
	border-radius: 60px;
	border-style: solid;
	border-color: #1D6154;
	border-width: 1px;
	font-size: 16px;
	font-weight: 700;
	font-family: 'Syne';
	line-height: 19.2px;
	padding-inline: 12px;
}

.active {
	color: white;
	background-color: #1D6154;
	border-radius: 60px;
	border-style: solid;
	border-color: #1D6154;
	border-width: 1px;
	font-size: 16px;
	font-weight: 700;
	font-family: 'Syne';
	line-height: 19.2px;
	padding-inline: 12px;
}

.button:hover {
	background-color: #1D6154;
	color: white;
}

.button:active {
	background-color: #1D6154;
	color: white;
}

#all {
	width: 100px;
}

#objects {
	width: 100px;
}

#appartements {
	width: 157px;
}

#hotels\&restaurants {
	width: 198px;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
    height: 490px;
    object-fit: cover;
}

#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/** Login page **/

#login {
	margin-top: 150px;
	width: 379px;
	margin: auto;
}
#login > * {
	text-align: center;

}
#login h2{
	margin-bottom: 20px;
}
#login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#login label {
	margin: 2em 0 1em 0;
}

#section-login {
	width: 379px;
}

#footer-login {
	position: fixed;
    justify-content: flex-end;
    display: flex;
    width: 95%;
	max-width: 1150px;
    bottom: 0;
}
